data/*
coverage

modules/**/Makefile

# Precompiled pug files
**/app/views/**/*.js

# Sentry secrets file (injected by CI)
.sentryclirc

# Cypress
cypress/screenshots/
cypress/videos/
cypress/downloads/
cypress/results/
cypress/reporter/

!**/fixtures/**/*.log

debug-storybook.log

.cache
